//Colors

$color-black: #000;

$color-gray-1: #e3e3e3;
$color-gray-2: #b1b1b1;
$color-gray-3: #f3f3f3;
$color-gray-4: #ccc;

$color-white-1: #f6f6f6;

$color-yellow-1: #fea;
$color-yellow-2: #fb1;

//Media Query

$l-device: 1024px;
$m-device: 760px;
$s-device: 480px;
$sm-device: 372px;
